*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
  font-size: 12px;
} */

.form-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 5em;
}

.form-screen {
  position: relative;
  background: white;
  border-radius: 15px;
}

.form-screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.form-screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.form-screen-body {
  display: flex;
}

.form-screen-body-item {
  flex: 1;
  padding: 50px;
}

.form-screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  font-size: 1.5em;
}

.app-contact {
  margin-top: 3em;
  margin-left: 2em;
  font-size: 0.5em;
  color: black;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: black;
}

.app-form-button {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 520px) {
  .form-screen-body {
    flex-direction: column;
  }

  .form-screen-body-item.left {
    margin-bottom: 3em;
  }

  /* .app-title {
    flex-direction: column;
  } */

  .app-title span {
    margin-right: 1em 1em;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .form-screen-body {
    padding: 40px;
  }

  .form-screen-body-item {
    padding: 0;
  }
}
