.about-us-container {
  background-color: white;
  color: gray;

  /* display: flex; */
}
.about-us-container h2 {
  text-transform: uppercase;
}

/* part 1 */
.about-us-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20em;
  color: black;
  background-color: white;
  margin: 2em auto;
}
.about-us-text {
  width: 40%;
  align-self: center;
  margin: 0 auto 0 0;
}
.about-us-text p {
  color: gray;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 1em;
  text-align: left;
  margin-left: 1em;
  text-transform: capitalize;
  font-family: mrs-eaves-roman-lining;
}

/* part 2 */
.about-us-cards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2em auto;
  padding: 2em;
  background-color: rgb(242, 242, 242);
}

.leadership-card {
  display: flex;
  margin-top: 1em;
  background-color: rgb(242, 242, 242);
}
.quality-card {
  display: flex;
  background-color: rgb(242, 242, 242);
}

/* part 3 */
/* 
.wheel-images {
  height: 3em;
}

.wheel-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
} */
