footer {
  display: flex;
  background: #000000;
  color: white;
}
.footer-social a,
.footer-contact a {
  color: white;
}
.footer-social a {
  font-size: 1.3em;
}
.footer-contact a {
  font-size: 0.8em;
  margin-right: 2.3em;
}

footer .main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4rem 1rem;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer {
  padding: 0 15px;
  width: 92%;
  min-width: 690px;
}

.main-footer .footer-contact {
  margin-left: auto;
  font-family: 'News Gothic No 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
  display: flex;
  justify-content: space-between;
}
.footer-social {
  margin-left: 125px;
}

.footer-copyright {
  width: 100%;
  margin-top: 35px;
  font-size: 14px;
}
