@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@700&family=Noto+Serif+TC:wght@700&family=Roboto&display=swap');

/* h1 = Noto Serif TC hero
    h2 = mukta vaani header
    basic = Roboto
*/

body {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}
a {
  text-decoration: none;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-family: 'Noto Serif TC', sans-serif;

  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
p {
  font-family: 'Roboto', sans-serif;
}
.rating span {
  margin: 0.1rem;
}
