@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@700&family=Noto+Serif+TC:wght@700&family=Roboto&display=swap');

/* h1 = Noto Serif TC hero
    h2 = mukta vaani header
    basic = Roboto
*/

body {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}
a {
  text-decoration: none;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-family: 'Noto Serif TC', sans-serif;

  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
p {
  font-family: 'Roboto', sans-serif;
}
.rating span {
  margin: 0.1rem;
}

/* Header */
.header-container {
  display: flex;
  /* justify-content: space-between; */
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
