@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@700&family=Noto+Serif+TC:wght@700&family=Roboto&display=swap');

/* h1 = Noto Serif TC hero
    h2 = mukta vaani header
    basic = Roboto
*/

body {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}
a {
  text-decoration: none;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-family: 'Noto Serif TC', sans-serif;

  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
p {
  font-family: 'Roboto', sans-serif;
}
.rating span {
  margin: 0.1rem;
}

/* Header */
.header-container {
  display: flex;
  /* justify-content: space-between; */
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

/* Jumbotron */

.jumbo-bg {
  background-image: url('https://media.giphy.com/media/U0bfNMZtmFLzi/giphy.gif');
  /* url('https://media.giphy.com/media/U4Go7iP5vb8NstoCjv/giphy.gif'),
    url('https://media.giphy.com/media/WqRft6rPLzosZZbk7V/giphy.gif'); */

  /* put bg im behide the nav */
  font-family: 'Noto Serof TC', sans-serif;

  margin-top: -80px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: block;
  width: 125px;
  height: 5px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
  margin-bottom: 60px;
}

.enter-btn:hover {
  color: #ffffff;
}
.enter-btn a:hover {
  outline: 0;
  outline-color: currentColor;
  outline-style: none;
  outline-width: 0px;
}

.btn-i--white::after {
  background-color: #ffffff;
}
.enter-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  top: auto;
}
.btn-i--white {
  color: #ffffff;
}

.enter-btn {
  font-size: 20px;
  font-style: normal;
  letter-spacing: 1.62px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.jumbo-h1 {
  font-size: 6vw;
}
.jumbo-h4 {
  font-size: 3vw;
}

.jumbo-h1,
.jumbo-h4 {
  text-shadow: 0 2px 8px rgba(54, 9, 9, 0.4);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.54px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
}
