.other-header-container .cart-icon {
  color: black;
  background-color: red;
}

.header-container {
  background: transparent none repeat scroll 0% 0%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0 31px;
  position: relative;
  z-index: 5000;
}

.header-center {
  width: 100%;
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header,
.right-header {
  display: flex;
}
.cart-icon {
  width: 1.5rem;
  margin-left: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.link {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  white-space: nowrap;
  color: white;
  margin-right: 0.9rem;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  top: 1.9em;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.left-header-link {
  font-family: 'Roboto', sans-serif;
}

.left-header-link::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.left-header-link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.left-header-link::after {
  content: '';
  top: calc(1.3em + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.left-header-link:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.header-brand {
  cursor: pointer;
}
.header-logo {
  font-family: 'Mukta Vaani', sans-serif;
}
.header-logo img {
  width: 1.9em;
  padding-bottom: 0.5em;
  margin: 0 0 0 0.3em;
}
.logo-text {
  font-size: 1.2em;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.62px;
  text-transform: uppercase;
}
