.product-container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-section img {
  width: 40em;
  height: 35em;
  object-fit: center;
}
.product-section {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.product-text {
  display: none;
  text-transform: uppercase;
}
.product-section:hover .product-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-section:hover img {
  opacity: 0.3;
}
.product-name,
.product-price {
  font-size: 1.9em;
  font-style: normal;
  letter-spacing: 1.62px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0.07em 0 gray, 0 0.07em gray, -0.07em 0 gray, 0 -0.07em gray;
}

.product-name:hover {
  cursor: pointer;
}
.product-line {
  border-top: 0.1em double white;
}
